.layoutContainer {
  display: flex;
  flex-direction: row; 
  min-height: 100vh;
}

.sidebar {
  width: auto;
  background-color: #f8f8f8;
  padding: 10px;
  flex-shrink: 0; 
}

.mainContent {
  flex-grow: 1;
  display: flex; 
  justify-content: center; 
  align-items: center;   

  padding: 50px;
}